body {
    font-family: Inter;
    font-weight: 400px;
    font-size: 15px;
    color:white;
}

.main-wrapper {
    background-color: #111827;
    border: 2px solid #111827;
    width: 550px;
    height: 550px;
    margin : auto auto auto auto;
}

.title {
    /* border: 2px solid red; */
    width: 354px;
    height:115px;
    margin-top: 100px;
    margin-left: 52px;
    font-weight: 200px;
    font-style: ExtraBold;
    font-size: 15px;
    line-height: 15px;
}


#green-text {
    color:#10B981;
    font-family: Karla;
}

.btn {
    color:white;
    opacity: 0.9;
    margin-top:30px ;
    margin-bottom:30px;
    margin-left: 52px;
    border-radius: 6px;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 9px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 24px;
    background-color: #10B981;
}

.line {
    margin-left: 52px;
    width: 500px;
    height: 3px;
    background-color: #273549;
    margin: 10px auto;
}

.password-container {
    display: flex;
    justify-content: space-around;
}

.generated {
    background-color:#273549;
    width: 230px;
    height: 40px;
    margin-top: 50px;
    left: 52px;
    border-radius: 6px;
    padding-bottom: 10px;
}

.custom {
    display: flex;
}

.custom-inputs {
    margin : auto;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #10B981;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

/* for inner ball movement */
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}

